@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    background: transparent; /* Alterado para transparente */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: background-color 0.3s; /* Adicionado uma transição de cor de fundo */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header:hover {
    background-color: rgba(2, 116, 240, 1); /* Mudança de cor para azul quando o mouse passa por cima */
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.1s;
}

header a:hover {
    opacity: 0.7;
    border-bottom: #ffffff solid 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(2, 116, 240, 1);
    width: 327px;
    z-index: 1;
    border-radius: 5px;
    padding: 16px 0 0 0;
    text-align: center;
}

.dropdown-content a {
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: rgba(2, 116, 240, 1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li,
.dropbtn {
    letter-spacing: 3px;
    margin-left: 32px;
    padding-right: 32px;
}

article#idea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
  
article#idea div * {
    color: #ffffff;
    letter-spacing: 15px;
}
  
article#idea div h3 {
    font-size: 2.5em;
    font-weight: 100;
}
  
article#idea div h1 {
    font-size: 4em;
    font-weight: 400;
}
  
article#idea div h2 {
    font-size: 3em;
    font-weight: 100;
}
  
article#idea div p {
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.55;
    max-width: 60%;
    display: block;
    margin: 2rem auto;
}
  
article video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(40%);
}
article span {
    rotate: 90deg;
    color: #ffffff;
    cursor: default;
    user-select: none;
}
  
article#idea span {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.sectionimg {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.sectionimg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adicione transparência à cor de fundo para escurecer a imagem */
}

.sectionimg .text {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
}

.infos{
    margin: 0 0 60px 0;
}

.caroussel {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 300px;
    overflow: hidden;
}
.caroussel-images {
    position: absolute;
    width: 300%;
    height: 100%;
    left: 0;
    top: 0;
}
.caroussel-images img {
    
    width: 33.333%;
    height: 100%;
}
.caroussel-images img:not(:first-child) {
    display: none;
}
  .caroussel-buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .caroussel-buttons button {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    background-color: #ccc;
    cursor: pointer;
  }
  .caroussel-buttons button.active {
    background-color: #000;
  }
  

.carousel {
    width: 50%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel img.active {
    opacity: 1;
  }
  
  
.text-container h1 {
    font-size: 4rem;
    margin: 0 0 1rem;
}
  
.text-container p {
    font-size: 2rem;
    margin: 0;
}

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 25px 15px;
    box-shadow: rgba(0, 0, 0, 0.471) 0px 5px 15px;
}

.box-image {
    width: 50%;
    height: 400px;
}
  
.box-image img{
    width: 100%;
    height: 400px;
}
.box-image video{
    width: 50%;
    height: 400px;
}
  
.box-text, .box-text-erro {
    width: 50%; /*alterado*/
    height: 400px;
    background: #ffffff;
    color: rgb(73, 73, 73);
    font-size: 15px;
    text-align: center;
}

  
.box-text h2, p {
    margin: 20px;
}

.button {
    background-color: #0038d6d9;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    margin-left: 5px;
}
  
.button:hover {
    background-color: #0038d6d9;
}
  

.img-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
.image-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.image-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}

/* Seção */
section{
    display: flexbox; /*alterado*/
    flex-wrap: wrap;
}
.box{
    text-align: center;
    flex: 1 1 350px;
    margin: 5% 2%;
    padding: 15px;
    border-radius: 20px;
    background: #00b3f6;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.471) 0px 5px 15px;
}
.icon {  
    width: 5em;
    height: 5em;
}


/* Rodapé */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 50px 20px 50px;
    color: #fff;
    background-color: #0274f0;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.footer > * {
    flex:  1 100%;
}
.footer__addr {
    margin-right: 1.2em;
    margin-bottom: 2em;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}
.nav__item{
    align-items: center;
}
.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #ffffff;
}

.footer__btn, .footer__btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: #000000;
    line-height: 0;
    margin: 0.6em auto;
    font-size: 1rem;
    padding: 0 2em;
}
.footer__btn2{
    background: linear-gradient(to right, #0038d6d9, #005bd6d9);
    color: #ffffff;
}
.footer__btn:hover{
    background: #1d5370;
    color: #ffffff;
    transition: 0.5s;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
    
}
.nav__ul a {
    color: #ffffff;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 0 auto;
}
.legal p{
    margin: 0 auto;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}
